*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 50vw;
  margin: auto;
  // border: 1px solid black;
  padding: 2em;
  margin-top: 5vw;

  h1{
    margin-bottom: 1em;
  }

  form{
    width: 100%;
    // background-color: red;
    height: 3em;
    display: flex;
    justify-content: center;


    input{
      height: 100%;
      width: 30%;
      // border: none;
      outline: none;
      background-color: none;
      padding: 1em;
      font-size: 1rem;
      
    }
  }

  .reminder{
    display: flex;
    background-color: rgba(255, 0, 0, 0.247);
    background-color: rgba(128, 128, 128, 0.103);
    // padding: 1em;
    justify-content: center;
    margin: 1em;
  
    p{
      margin: 1em;
      font-size: 2rem;
    }
  }
}

