*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  

.calc{

 
  // border: 3px solid rgb(0, 0, 0);
  border-radius: .3em;
  background-color: rgb(37, 37, 37);
  min-width: 18rem;
  max-width:  18rem ;
  .screen{

    background-color: #687c7a;

    color: black;
    // border:   1px solide rgb(37, 37, 37);
    max-width: 85%;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    // box-shadow:  inset 4px 4px 4px 4px #000000;
    border-radius: .3em;
    min-height:8.5rem;
    overflow-x: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    // background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);

    .screen__calculation{
      // background-color: violet;
      width: 85%;
      height: 100%;
      align-items: center;
   
      text-align: right;
    }

    .back{
      // transparent | inherit
      background-color:transparent;
      padding: 0;
      font-size: .3rem;
      height: 1.5rem;
      width: 1.5rem;

      &:hover{
        cursor: pointer;
        fill:  brown;
        // transform: scale(1.1);
        transition: all 250ms;
      }
    }
  }

  .btnsWrapper{
    max-width: 18rem;
    padding: 1.5rem .5rem ;
    border-radius: .3em;
  }
}

.lastCalcs {
  position: absolute;
  top:7.2rem;
  width:13rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(192, 189, 189, 0.459);
  display: none;
  padding: 1em;
  backdrop-filter: blur(5px);
  overflow-x: auto;
  overflow-y: auto;
  color: black;

  .oneOfLastCalc{
    margin-bottom: 1em;

    .option{
      border: 1px solid rgb(104, 104, 104);
      cursor: pointer;
      padding:.2em.5em  ;
      border-radius: .2em;
      transition: all 250ms;

      &:hover{
        background-color: rgba(255, 255, 255, 0.329);
      }
      
    }
  }

  
}

.show{
  display: block;
}

.material-icons-outlined{
font-size:.85rem;
}