.names_wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}

.names {
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
}

.box{
    border: 1px solid black;
    width: 1000px;
    min-height: 400px;
    margin: auto;
}
