.App {
  /* background-color: rgb(89, 188, 206); */
  user-select: none;
  padding-top: 20px;
 
}
.btn {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  width: 70px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid rgb(74, 74, 74);
  outline: none;
  box-shadow: inset 0 4px 0 4px rgba(181, 181, 181, 0.489);
}

.num:hover{
  background-color: rgb(226, 226, 226);
  transition: 0.3s;
}
.container {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px; */
  background-image: linear-gradient(rgb(132, 132, 132),  rgb(98, 98, 98));
  padding: 4px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 600px;
  border: 15px solid rgb(106, 106, 106); ;
  margin: auto;
  
  

}

.numbers_wrap{
  width: 210px;
  height:300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.operators {
  width: 70px;
}
.symbol:hover{
  background-color: rgb(172, 172, 172);
  transition: 0.3s;
}

.numop_wrap{
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.delete {
  position: relative;
  right: -200px;
  top: -150px
}
.delete:hover{
  background-color: rgb(226, 226, 226);
  transition: 0.3s;
}
.clear{
  position: relative;
  right: -60px;
  top: 0px;
  width: 140px;
}
.clear:hover{
  background-color: rgb(226, 226, 226);
  transition: 0.3s;
}
form {
  width: 100%;
  text-align: center;
 
}
input {
  background-image: linear-gradient(rgb(99, 99, 99),  rgb(83, 83, 83));
  width: 95%;
  height: 70px;
  border-top: 5px solid rgb(113, 113, 113);
  border-bottom: 5px solid rgb(111, 111, 111);
  outline: none;
  text-align: right;
  font-size: 35px;
  color: floralwhite;
  margin-top: 20px;
  border-radius: 5px;
  margin: 10px;
  
  
  
  

}
.input {
  /* grid-column: 1 / -1; */
  padding: 0;
  }

  .symbol {
    background-color: rgb(218, 218, 218);
}

.equal {
  /* grid-column: 4;
  grid-row: 3 / span 6; */
  background-color: rgb(255, 123, 71);
  width: 140px;
  position: relative;
  right: -200px;
  top: 375px;
}
.equal:hover{
  background-color: rgb(206, 94, 50);
  transition: 0.3s;
}

