* {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

body { 
	font-family: sans-serif;
	color: #fff;
	background: #444;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  margin: 0 0 0 4px;
  padding: 0;
  overflow: hidden;
  

}
.screan{
  display:grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}

