.tavim{
    grid-row: 1;
    grid-column: 1; 
  }
div{
    background-color: #ffffff;
    grid-row: 1;
    grid-column: 1;
    
    width: 100%;
    justify-self: center;
}
svg{
    margin:auto;
    display:grid;
    
}

