.todo_item {
    color:red;
}
.todo_item.comleted {
    color: rgb(0, 0, 0);
}
.description__wrapper{
    width: 80%;
    margin: auto;
  
}
.choosenTime{
    float: right;
    margin-right: 10%;
}
.todo_item, .todo_item.comleted{
    float: left;
}